body {
  background-image: url("weather.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
  background-color: rgb(169, 255, 255);
  padding-top: 40px;

}
  /* background: url("weather.jpg"); */

.header {
text-align: center;
color: gold;
text-shadow: 2px 2px 5px black;
text-emphasis-style: bold;
}

.subheader{
  text-align: center;

}

.titles {
  /* display: center;
  justify-content:center;
  font-style: none;
  padding-top: 40px; */
}

.form {
  align-items: center;
  padding-top:7px;
}

.button:hover{
  background-color: black;
  color: gold;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button{
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;

}

  

.weather {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  text-decoration-style: italic;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: flex;
  color: black;
}
